Brotli==1.1.0
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
Flask==1.1.2
Jinja2==3.0.3
MarkupSafe==2.1.5
PyMySQL==1.0.3
PySocks==1.7.1
Werkzeug==2.0.3
aniso8601==9.0.1
attrs==23.2.0
beautifulsoup4==4.12.2
blinker==1.7.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.8
cycler==0.12.1
exceptiongroup==1.2.1
fonttools==4.53.0
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.7
itsdangerous==2.0.1
kaitaistruct==0.10
kiwisolver==1.4.5
lxml==4.9.2
matplotlib==3.5.2
numpy==2.0.0
opencv-python==4.7.0.72
outcome==1.3.0.post0
packaging==24.1
pillow==10.3.0
psutil==5.9.5
pyOpenSSL==24.1.0
pyasn1==0.6.0
pycparser==2.22
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
schedule==1.2.0
selenium-wire==5.1.0
selenium==4.10.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
tqdm==4.66.4
trio-websocket==0.11.1
trio==0.25.1
urllib3==2.2.2
webdriver-manager==3.8.5
wsproto==1.2.0
zstandard==0.22.0
line-bot-sdk==2.4.2
oauth2client==4.1.3
